.login__button {
    width: 358px;
    height: 50px;
    border-radius: 2px;
    border: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000;
    background-color: #ffffff;
    transition: opacity 0.5s ease;
}

.login__button:hover {
    opacity: 0.8;
    cursor: pointer;
  }